{%- if settings.use_quickview -%}<a class="nt_add_qv js_add_qv dib {{tooltip}}" href="{{url_last}}" data-id="{{pr_id}}" rel="nofollow" class="{{tooltip}}"><span class="tt_txt">{{ 'products.grid_items.quick_view' | t }}</span><i class="iccl iccl-eye"></i></a>{%-endif-%}
