{%- if style_title == '1' -%}
  {%- if sett_title != blank -%}<h3 class="jas_title_1 pr {{mg_class}} mg__0 mb__30">{{sett_title}}<span class="sub-title db">{{sett_sub_title}}</span></h3>{%- endif -%}
{%- else -%}
  {%- if sett_title != blank -%}<h3 class="jas_title divider pr {{mg_class}} mg__0 mb__30">{{sett_title}}<span class="sub-title db">{{sett_sub_title}}</span></h3>{%- endif -%}
{%- endif -%}