{%- comment -%}badge_Sale product.created_at product.published_at{%- endcomment-%}
{%- liquid
if settings.use_new_label 
   assign nowTimestamp = 'now' | date: '%s' 
   assign new_day_int = settings.new_day | default: 10 
endif
assign pr_tags = product.tags | downcase
assign prTags = product.tags | join:','
assign hd_up = 'group-' |append:product.id

assign ck_sale_first = false
assign on_sale = false
unless pr_tags contains 'notsale'
  if settings.use_sale_label and linklists[hd_up].links.size == 0 and product.compare_at_price > product.price
    assign ck_sale_first = true
    assign lb_sale_style = settings.label_sale_style
    assign pr_variants = product.variants

    if on == 'singe'
      assign current_variant = product.selected_or_first_available_variant
    elsif pr_variants.first.compare_at_price > pr_variants.first.price
      assign current_variant = pr_variants.first
    else
      assign current_variant = pr_variants.last
    endif

    assign compare_price = current_variant.compare_at_price
    assign product_price = current_variant.price
    if compare_price > product_price
      assign on_sale = true 
    endif 
  endif
endunless

assign sold_out = true 
if product.available or settings.use_sold_out_label == false 
  assign sold_out = false 
endif
assign new_label = false
unless settings.use_new_label == false or pr_tags contains "notnew"
  assign dateStart = product.created_at | date: '%s'
  assign diffSeconds = nowTimestamp | minus: dateStart 
  assign diffDays = diffSeconds | divided_by: 3600 | divided_by: 24
  if diffDays <= new_day_int 
     assign new_label = true 
  endif
endunless
assign badge_tags = product.tags | where: "badge_" -%}

<span class="tc nt_labels pa pe_none cw">
  {%- if ck_sale_first -%}
    {%- if lb_sale_style == '1' -%}<span class="nt_label onsale"{% if on_sale == false and on == 'singe' %} style="display:none"{% endif %}>{{ 'products.product.on_sale' | t }}</span>{%- elsif lb_sale_style == '2' %}{% if on_sale %}{% assign save = compare_price | minus: product_price | times: 100.0 | divided_by: compare_price | ceil %}{% endif %}<span class="onsale nt_label"{% unless on_sale %} style="display:none"{% endunless %}><span>{{ 'products.product.save_js' | t: saved_amount:save }}</span></span>{%- endif -%}
  {%- endif -%}
  {%- if new_label -%}<span class="nt_label new">{{ 'products.product.new' | t }}</span>{%- endif -%}
  {%- if badge_tags.size > 0 -%}
      {%- for tag in badge_tags limit:3 -%}{%- assign badgeTag = tag | remove: "badge_" -%}<span class="nt_label {{badgeTag | handle}}">{{ badgeTag | capitalize}}</span>{%- endfor -%}
  {%- endif -%}
  {%- if sold_out -%}<span class="nt_label out-of-stock">{{ 'products.product.sold_out' | t }}</span>{%- endif -%}
</span>