{%- liquid
	assign color_ck = settings.color_ck | append:',color,colors,couleur,colour' 
	assign get_color = color_ck | downcase | replace: ' ,', ',' | replace: ', ', ',' | split: ',' | uniq 
	assign size = product.options_with_values.size 
	assign ck = true 
	assign has_img = block.settings.swatch_style | default: settings.swatch_style
	if product.available 
	  assign remove_soldout = settings.remove_sold_out 
	else 
	  assign remove_soldout = false 
	endif 
	assign select_id = 'nt_select' | append:call_cl 
	assign select_class = 'nt_select'| append:call_cl 
	assign bclass = 'is-selected-none'
	assign pr_variants = product.variants 
	assign selected_variant = product.selected_variant
	case settings.pr_curent
	  when '1'
		  assign current_variant = selected_variant 
		  if current_variant != blank 
		    assign bclass = 'is-selected-nt' 
		  endif
	  when '2' 
		  assign current_variant = selected_variant |default: pr_variants.first 
		  assign bclass = 'is-selected-nt' 
		  if current_variant.available == false and remove_soldout and product.available 
		    assign current_variant = product.first_available_variant  
		  endif
	  else 
	    assign current_variant = product.selected_or_first_available_variant
	    assign bclass = 'is-selected-nt'
	endcase

	if pr_variants.size == 1 
		assign current_variant = pr_variants.first 
		assign bclass = 'is-selected' 
	endif
	assign choose_an_option = 'products.product.choose_an_option' | t
	assign img_variants = pr_variants | where: "featured_image" -%}

<div class="dropdown_picker_js variations mb__40 style__simple size_{{block.settings.swatch_size | default:settings.swatch_size }} remove_soldout_{{remove_soldout}}">
	
	{%- for option in product.options_with_values -%}{%- assign name = option.name | downcase -%}{%- assign svc = '' -%}{%- assign option_index = forloop.index0 -%}
		{%- case option_index -%}{%- when 0 -%}{%- assign selected_value = current_variant.option1 |default:choose_an_option -%}{%- when 1 -%}{%- assign selected_value = current_variant.option2 |default:choose_an_option -%}{%- else -%}{%- assign selected_value = current_variant.option3 |default:choose_an_option -%}{%- endcase -%}
		{%- if get_color contains name -%}
		    {%- if ck and has_img == '2' and img_variants.size > 0 -%}<div class="lazyload nt_pre_img op__0" data-include="/products/{{product.handle}}/?view=cl{{call_cl}}"></div>{%- assign ck = false -%}{%- endif -%}
			<div data-opname="{{option.name | handleize}}" class="{{select_class}}{{ option_index }} swatch is-label is-selcolor{% cycle ' is-ntcolor','','' %}" id="{{select_id}}_{{ option_index }}">
				<h4 class="swatch__title">{{option.name}}: <span class="nt_name_current">{{selected_value}}</span></h4>
				<div class="nt_lt_fake pr mt__10 mb__20">
					<i class="pa op__0 facl facl-angle-down"></i>
					<div class="header_picker nt_name_current truncate">{%- if settings.pr_curent == '1' and selected_variant == blank and v_size > 1 -%}{{ 'products.product.pick_a' | t:option:option.name }}{%- else -%}{{selected_value}}{%- endif -%}</div>
					<svg class="ic_triangle_svg" viewBox="0 0 20 9" role="presentation"><path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff"></path></svg>
					<ul class="swatches-select swatch__list_pr flex column pa t__0 l__0 css_ntbar" data-id="{{ option_index }}" data-size="{{size}}">
				   	    {%- for value in option.values -%}
				   	      {%- assign vh = value | handle -%}{%- assign sclass = '' -%}{%- if selected_value == value -%}{%- assign sclass = bclass -%}{%- endif -%}
				   		   <li data-index="{{ forloop.index0 }}" data-value='{{ vh }}' class="nt-swatch swatch_pr_item pr bg_css_{{ vh }} {{sclass}}" data-escape="{{ value | escape }}"><span class="bg_imh_sel bg_color_{{ vh }} lazyload"></span><span class="swatch__value_pr truncate">{{ value }}</span></li>
				   	    {%- endfor -%}
					</ul>
			    </div>
			</div>
		{%- else -%}
			<div data-opname="{{option.name | handleize}}" class="{{select_class}}{{ option_index }} swatch is-label is-{{option.name | handleize}}" id="{{select_id}}_{{ option_index }}">
				<h4 class="swatch__title">{{option.name}}: <span class="nt_name_current">{{selected_value}}</span></h4>
				<div class="nt_lt_fake pr mt__10 mb__20">
					<i class="pa op__0 facl facl-angle-down"></i>
					<div class="header_picker nt_name_current truncate">{%- if settings.pr_curent == '1' and selected_variant == blank and v_size > 1 -%}{{ 'products.product.pick_a' | t:option:option.name }}{%- else -%}{{selected_value}}{%- endif -%}</div>
					<svg class="ic_triangle_svg" viewBox="0 0 20 9" role="presentation"><path d="M.47108938 9c.2694725-.26871321.57077721-.56867841.90388257-.89986354C3.12384116 6.36134886 5.74788116 3.76338565 9.2467995.30653888c.4145057-.4095171 1.0844277-.40860098 1.4977971.00205122L19.4935156 9H.47108938z" fill="#ffffff"></path></svg>
					<ul class="swatches-select swatch__list_pr flex column pa t__0 l__0 css_ntbar" data-id="{{ option_index }}" data-size="{{size}}">
				   	   {%- for value in option.values -%}
				   	      {%- assign vh = value | handle -%}{%- assign sclass = '' -%}{%- if selected_value == value -%}{%- assign sclass = bclass -%}{%- endif -%}
				   		   <li data-index="{{ forloop.index0 }}" data-value='{{ vh }}' class="nt-swatch swatch_pr_item pr bg_css_{{ vh }} {{sclass}}" data-escape="{{ value | escape }}"><span class="swatch__value_pr truncate">{{ value }}</span></li>
				   	   {%- endfor -%}
					</ul>
			    </div>
			</div>
		{%- endif -%}
	{%- endfor -%}
</div>