{%- section 'acc_heading' -%}
<div class="container mt__60 mb__60">
  <div class="row">
     <div class="col-12 offset-md-3 col-md-6 divResetPassForm login-form tc">
          {%- form 'reset_customer_password' -%}
            <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
            
            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}
            <p class="form-row tl">
            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
            </p>
            <p class="form-row tl">
            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
             </p>
            <input type="submit" class="btn js_add_ld" value="{{ 'customer.reset_password.submit' | t }}">
          {%- endform -%}
     </div>
  </div>
</div>
