<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  
  <link rel="preload" as="style" href="{{ 'pre_theme.scss.css' | asset_url }}">
  {%- if settings.favicon != blank -%}<link rel="shortcut icon" type="image/png" href="{{ settings.favicon | img_url: '32x' }}">{%- endif -%}
  {%- if settings.favicon_apple != blank and settings.favicon_counter == false -%}<link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_apple | img_url: '152x' }}">{%- endif -%}
  {%- liquid 
    assign t_name = request.page_type
    render 'social-meta-tags',t_name:t_name
    assign body_img = settings.body_bg_image
    if settings.font_source == '2'
    render 'gg_fnt'
    endif
    render 'head_assets',t_name:t_name
    capture class_body_theme 
      render 'class_body_theme',t_name:t_name, body_img:body_img 
    endcapture -%}

  {{ content_for_header }}
</head>

<body class="template-password">
  <div class="password-page">
    <header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="password-login tr_md tc">
          <a href="#LoginModal" data-id="#LoginModal" class="push_side tu"><i class="las la-lock fs__20"></i> {{ 'general.password_page.password_link' | t }}</a>
        </div>
        <div id="LoginModal" class="nt_fk_canvas dn">
          <div class="modal__inner">
            <div class="modal__centered password-modal__content page-width">
              {% form 'storefront_password', class: 'form-single-field nt_mini_cart flex column h__100' %}
              <div class="mini_cart_header flex fl_between al_center"><div class="widget-title tu fs__16 mg__0 f__mont">{{ 'general.password_page.login_form_heading' | t }}</div><i class="close_pp pegk pe-7s-close ts__03 cd"></i></div>
              <div class="mini_cart_wrap">
                <div class="mini_cart_content fixcl-scroll">
                  <div class="fixcl-scroll-content">
                    {%- assign formId = 'PasswordLoginForm' -%}
                    <p class="form-row{% if form.errors %}input-group--error{% endif %}">
                      <label for="Password">{{ 'general.password_page.login_form_password_label' | t }} <span class="required">*</span></label>
                      <input required="required" type="password" name="password"
                             id="Password"
                             class="input-group__field input--content-color {% if form.errors %}input--error{% endif %}"
                             placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                             data-login-field
                             autocomplete="off"
                             aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
                             {% if form.errors %}
                             data-error="password"
                             aria-invalid="true"
                             {%- endif -%}
                             >
                    </p>
                    <button type="submit" name="commit" class="button button_primary w__100 tu js_add_ld"> {{ 'general.password_page.login_form_submit' | t }} </button>
                    {%- if form.errors -%}
                    <span id="{{ formId }}-password-error" class="input-error-message mt__20 db">
                      <i class="facl facl-attention cr mr__5"></i> {{ form.errors.messages['form'] }}
                    </span>
                    {%- endif -%}
                    {% endform %}
                    <p class="password-content mt__20">{{ 'general.password_page.admin_link_html' | t }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="password-main flex al_center fl_center" role="main">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>
  <div class="mask-overlay ntpf t__0 r__0 l__0 b__0 op__0 pe_none"></div>
  <div id="gliconsymbols" class="hide dn"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><symbol id="scl_remove"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line> </svg> </symbol> <symbol id="scl_edit"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path> </svg> </symbol> <symbol id="scl_selected"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M9 20l-7-7 3-3 4 4L19 4l3 3z"></path></svg></symbol></svg></div>
</body>
</html>
