<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <meta name="format-detection" content="telephone=no">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="//fonts.shopifycdn.com/" crossorigin>
  <link rel="preconnect" href="//cdn.shopify.com/" crossorigin>
  <link rel="preconnect" href="//v.shopify.com/" crossorigin>
  <link rel="dns-prefetch" href="//{{shop.domain}}" crossorigin>
  <link rel="dns-prefetch" href="//{{shop.permanent_domain}}" crossorigin>
  <link rel="dns-prefetch" href="//cdn.shopify.com" crossorigin>
  <link rel="dns-prefetch" href="//v.shopify.com" crossorigin>
  <link rel="dns-prefetch" href="//fonts.shopifycdn.com" crossorigin>
  <link rel="dns-prefetch" href="//fonts.googleapis.com" crossorigin>
  <link rel="dns-prefetch" href="//kit-pro.fontawesome.com" crossorigin>
  <link rel="preload" as="style" href="{{ 'pre_theme.scss.css' | asset_url }}">
  <link rel="preload" as="style" href="{{ 'theme.scss.css' | asset_url }}">
  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}{{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}{%- elsif template == 'search.wish' %}{{ 'general.meta.wishlist' | t }}{%- else -%}{{ page_title }}{%- endif -%}
    {%- if current_tags -%}{%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}{%- endif -%}
    {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name %} &ndash; {{ shop.name }}{%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
  {%- if page_description %}<meta name="description" content="{{ page_description | escape }}">
  {%- elsif collection.current_type or collection.current_vendor %}<meta name="description" content="{{ shop.description | default: shop.name | escape }}">{% endif -%}
  {%- if settings.favicon != blank %}<link rel="shortcut icon" type="image/png" href="{{ settings.favicon | img_url: '32x' }}">{% endif -%}
  {%- if settings.favicon_apple != blank %}<link rel="apple-touch-icon-precomposed" type="image/png" sizes="152x152" href="{{ settings.favicon_apple | img_url: '152x' }}">{% endif -%}
  {%- liquid 
    assign t_name = request.page_type
    assign body_img = settings.body_bg_image
    render 'social-meta-tags',t_name:t_name
    render 'head_assets',t_name:t_name
    capture class_body_theme 
      render 'class_body_theme',t_name:t_name, body_img:body_img 
    endcapture -%}

    {{ content_for_header }}
</head>
<body {{class_body_theme | strip_newlines-}}>
  {% comment %}{%- render 'lazypreload' -%}{% endcomment %}
  <div id="nt_wrapper">
   {% comment %} {%- render 'header',t_name:t_name -%}{% endcomment %}
    <div id="nt_content">
    {{ content_for_layout }} 
    {%- liquid 
       section 'gallery_des' -%}
    </div>
    {% comment %}<footer id="nt_footer" class="bgbl footer-1">{%- section 'footer_top' -%}{%- section 'footer_bot' -%}</footer>{% endcomment %}
  </div>

  <div class="pswp dn pswp_tp_{{settings.pswp_tp}}" tabindex="-1" role="dialog" aria-hidden="true"><div class="pswp__bg"></div><div class="pswp__scroll-wrap"><div class="pswp__container"> <div class="pswp__item"></div><div class="pswp__item"></div><div class="pswp__item"></div></div><div class="pswp__ui pswp__ui--hidden"> <div class="pswp__top-bar"> <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button> <div class="pswp__preloader"> <div class="pswp__preloader__icn"> <div class="pswp__preloader__cut"> <div class="pswp__preloader__donut"></div></div></div></div></div><div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap"> <div class="pswp__share-tooltip"></div></div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"> </button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"> </button> <div class="pswp__caption"> <div class="pswp__caption__center"></div></div></div></div><div class="pswp__thumbnails"></div></div>
  <div class="mask-overlay ntpf t__0 r__0 l__0 b__0 op__0 pe_none"></div>

</body>
</html>
