{%- assign age_limit = section.settings.age_limit -%}
{%- assign image = section.settings.image -%}
{%- assign enable_age_pp = settings.enable_age_pp -%}

<div class="popup_age_wrap mfp-with-anim tc{% if image != blank %} nt_bg_lz lazyload{% endif %}" data-stt='{ "day_next": {{section.settings.day_next}},"date_of_birth":{{section.settings.date_of_birth}},"age_limit":{{section.settings.age_limit}} }'{% if image != blank %}{% assign ratio = image.aspect_ratio %} data-bgset="{{ image | img_url: '1x1' }}" data-parent-fit="width" data-ratio="{{ratio}}" data-sizes="auto"{% endif %}>
   <div class="age_verify_txt">
        <h4>{{section.settings.heading}}</h4>
        <p class="mg__0">{{section.settings.sub}}</p>
   </div>
   <div class="age_verify_txt_error dn">
      <h4>{{section.settings.txt}}</h4>
      <p class="mg__0">{{section.settings.txt2}}</p>
   </div> 
   {%-if section.settings.date_of_birth -%}
	<div class="row no-gutters age_date_of_birth">
	  <div class="col-12 col-md-4">
	    <select name="agemonth" class="w__100" id="agemonth">
	      <option value="12">{{section.settings.month}}</option>
	      {%- for i in (1..12) %}{% assign month_i = 'month' |append:i %}<option value="{{i}}">{{section.settings[month_i]}}</option>{% endfor -%}
	    </select> 
	  </div>
	  <div class="col-12 col-md-4">
	    <select name="ageday" class="w__100" id="ageday">
	      <option value="28">{{section.settings.day}}</option>
	      <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option>
	    </select>
	  </div>
	  <div class="col-12 col-md-4">
	      {%- assign now_year = 'now' | date:'%Y' | plus:0 -%}
	      {%- assign calc_year = now_year | minus:age_limit |plus:1 -%}
	    <select name="ageyear" class="w__100" id="ageyear">
	      <option value="{{now_year}}">{{section.settings.year}}</option>
	      {%- for i in (2000..calc_year) reversed %}<option value="{{i}}">{{i}}</option>{% endfor -%}
	      <option value="1999">1999</option> <option value="1998">1998</option> <option value="1997">1997</option> <option value="1996">1996</option> <option value="1995">1995</option> <option value="1994">1994</option> <option value="1993">1993</option> <option value="1992">1992</option> <option value="1991">1991</option> <option value="1990">1990</option> <option value="1989">1989</option> <option value="1988">1988</option> <option value="1987">1987</option> <option value="1986">1986</option> <option value="1985">1985</option> <option value="1984">1984</option> <option value="1983">1983</option> <option value="1982">1982</option> <option value="1981">1981</option> <option value="1980">1980</option> <option value="1979">1979</option> <option value="1978">1978</option> <option value="1977">1977</option> <option value="1976">1976</option> <option value="1975">1975</option> <option value="1974">1974</option> <option value="1973">1973</option> <option value="1972">1972</option> <option value="1971">1971</option> <option value="1970">1970</option> <option value="1969">1969</option> <option value="1968">1968</option> <option value="1967">1967</option> <option value="1966">1966</option> <option value="1965">1965</option> <option value="1964">1964</option> <option value="1963">1963</option> <option value="1962">1962</option> <option value="1961">1961</option> <option value="1960">1960</option> <option value="1959">1959</option> <option value="1958">1958</option> <option value="1957">1957</option> <option value="1956">1956</option> <option value="1955">1955</option> <option value="1954">1954</option> <option value="1953">1953</option> <option value="1952">1952</option> <option value="1951">1951</option> <option value="1950">1950</option> <option value="1949">1949</option> <option value="1948">1948</option> <option value="1947">1947</option> <option value="1946">1946</option> <option value="1945">1945</option> <option value="1944">1944</option> <option value="1943">1943</option> <option value="1942">1942</option> <option value="1941">1941</option> <option value="1940">1940</option> <option value="1939">1939</option> <option value="1938">1938</option> <option value="1937">1937</option> <option value="1936">1936</option> <option value="1935">1935</option> <option value="1934">1934</option> <option value="1933">1933</option> <option value="1932">1932</option> <option value="1931">1931</option> <option value="1930">1930</option> <option value="1929">1929</option> <option value="1928">1928</option> <option value="1927">1927</option> <option value="1926">1926</option> <option value="1925">1925</option> <option value="1924">1924</option> <option value="1923">1923</option> <option value="1922">1922</option> <option value="1921">1921</option> <option value="1920">1920</option> <option value="1919">1919</option> <option value="1918">1918</option> <option value="1917">1917</option> <option value="1916">1916</option> <option value="1915">1915</option> <option value="1914">1914</option> <option value="1913">1913</option> <option value="1912">1912</option> <option value="1911">1911</option> <option value="1910">1910</option>
	    </select>
	  </div>
	</div>
   {%- endif -%}
   <div class="age_verify_buttons">
      <a href="#" data-no-instant rel="nofollow" class="age_verify_allowed">{{section.settings.age_enter}}</a>
      <a href="#" data-no-instant rel="nofollow" class="age_verify_forbidden">{{section.settings.age_exit}}</a>
   </div>
</div>

{%- style -%}
	.popup_age_wrap {
		position: relative;
		overflow: hidden;
	    margin: 30px auto;
	    padding: 30px;
	    width: 100%;
	    max-width: 500px;
	     background-color: {{section.settings.cl_bg}};
	    color: #fff;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
    }
    .popup_age_wrap:before {
	    content: '';
	    opacity: {{section.settings.overlay | divided_by: 100.0}};
	    position: absolute;
	    background: #000;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 40;
	    pointer-events: none;
	}
	.popup_age_wrap.mfp-with-anim.tc>* {
	    position: relative;
	    z-index: 50;
	}
    .popup_age_wrap h4 {
	    color: #fff;
	    font-weight: 500;
	    font-size: 40px;
	    margin-top: 0;
	    margin-bottom: 20px;
    }
    .age_verify_buttons {
       margin-top: 25px;
       margin-bottom: -10px;
    }
	.age_verify_buttons>a {
	    margin-left: 5px;
	    margin-right: 5px;
	    margin-bottom: 10px;
	    padding: 12px 20px;
	    font-weight: 500;
	    text-transform: uppercase;
	    background-color: #fff;
	    color: #999;
	    display: inline-block;
	    transition: color .25s ease,background-color .25s ease,border-color .25s ease,box-shadow .25s ease,opacity .25s ease;
	}
	.age_verify_buttons>a.age_verify_allowed {
	    color: #fff;
	    background-color: {{section.settings.cl_btn}};
	}
	.age_verify_buttons>a:hover {
		background-color: #f6f6f8;
	}
	.age_verify_buttons>a.age_verify_allowed:hover {
	    background-color: {{section.settings.cl_btn_hover}};
	}
	.age_date_of_birth {
	    margin-top: 25px;
        margin-bottom: -10px;
	    margin-right: -5px;
	    margin-left: -5px;
    }
    .age_date_of_birth>.col-12{
       padding-left: 5px;
       padding-right: 5px;
    }
	.age_date_of_birth select {
		margin-bottom: 10px;
	    color: #222;
	    border: 0;
	    background-color: #fff;
	    text-align: center;
	    border-radius: 2px;
	    box-shadow: inset 0 -2px 0 rgba(0,0,0,.15);
	}
	.active_forbidden .age_verify_txt,
	.active_forbidden .age_date_of_birth,
	.active_forbidden .age_verify_buttons {
       display: none
	}
  .age_verify_txt_error {
    -webkit-animation: ani-fadeIn .6s ease;
    animation: ani-fadeIn .6s ease;
  }
	.active_forbidden .age_verify_txt_error{
       display: block
	}
    @media (min-width: 768px) {
		.popup_age_wrap {
		    padding: 60px;
		}
    }
{%- endstyle -%}

{%- schema -%} 
  {
    "name": "Age verification popup",
    "class":"mfp-hide",
    "settings": [
      {
        "type": "paragraph",
        "content": "If you sell products such as wine, cigarettes, or dangerous goods, then you might want to discourage visitors under a certain age from browsing your website."
      },
      {
        "type": "paragraph",
        "content": "You can do this by adding an age selection form to your storefront. Keep in mind that age verification is not the best way to prevent visitors from browsing your website, as there's nothing preventing them from lying about their age. It might even be a nuisance to regular visitors, who will have to make an additional click to access your store."
      },
      {
        "type": "range",
        "id": "age_limit",
        "min": 1,
        "max": 100,
        "step": 1,
        "label": "Changing the age limit",
        "default": 18
      },
      {
        "type": "checkbox",
        "id": "date_of_birth",
        "label": "Use enter date of birth",
        "default": false
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Are you over 18?"
      },
      {
        "type": "textarea",
        "id": "sub",
        "label": "Content",
        "default": "You must be 18 years of age or older to view page. Please verify your age to enter."
      },
      {
        "type": "text",
        "id": "age_enter",
        "label": "Button text verify allowed",
        "default": "I am 18 or Older"
      },
      {
        "type": "text",
        "id": "age_exit",
        "label": "Button text verify forbidden",
        "default": "I am Under 18"
      },
      {
        "type": "text",
        "id": "txt",
        "label": "Text forbidden 1",
        "default": "Access forbidden"
      },
      {
        "type": "textarea",
        "id": "txt2",
        "label": "Text forbidden 2",
        "default": "Your access is restricted because of your age."
      },
      {
        "type": "range",
        "id": "day_next",
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": "day",
        "label": "Day next show (n)",
        "info": "if user verify, next show will be after 'n' days",
        "default": 30
      },
      {
        "type": "header",
        "content": "== Texts Options"
      },
      {
        "type": "text",
        "id": "month",
        "label": "Text Month:",
        "placeholder": "- Month -",
        "default": "- Month -"
      },
      {
        "type": "text",
        "id": "month1",
        "label": "Text January:",
        "placeholder": "January",
        "default": "January"
      },
      {
        "type": "text",
        "id": "month2",
        "label": "Text February:",
        "placeholder": "February",
        "default": "February"
      },
      {
        "type": "text",
        "id": "month3",
        "label": "Text March:",
        "placeholder": "March",
        "default": "March"
      },
      {
        "type": "text",
        "id": "month4",
        "label": "Text April:",
        "placeholder": "April",
        "default": "April"
      },
      {
        "type": "text",
        "id": "month5",
        "label": "Text May:",
        "placeholder": "May",
        "default": "May"
      },
      {
        "type": "text",
        "id": "month6",
        "label": "Text June:",
        "placeholder": "June",
        "default": "June"
      },
      {
        "type": "text",
        "id": "month7",
        "label": "Text July:",
        "placeholder": "July",
        "default": "July"
      },
      {
        "type": "text",
        "id": "month8",
        "label": "Text August:",
        "placeholder": "August",
        "default": "August"
      },
      {
        "type": "text",
        "id": "month9",
        "label": "Text September:",
        "placeholder": "September",
        "default": "September"
      },
      {
        "type": "text",
        "id": "month10",
        "label": "Text October:",
        "placeholder": "October",
        "default": "October"
      },
      {
        "type": "text",
        "id": "month11",
        "label": "Text November:",
        "placeholder": "November",
        "default": "November"
      },
      {
        "type": "text",
        "id": "month12",
        "label": "Text December:",
        "placeholder": "December",
        "default": "December"
      },
      {
        "type": "text",
        "id": "day",
        "label": "Text Day:",
        "placeholder": "- Day -",
        "default": "- Day -"
      },
      {
        "type": "text",
        "id": "year",
        "label": "Text Year:",
        "placeholder": "- Year -",
        "default": "- Year -"
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "default":"#56cfe1",
        "label": "Background color"
      },
      {
        "type": "color",
        "id": "cl_btn",
        "default":"#007e91",
        "label": "Background color 'Button verify allowed'"
      },
      {
        "type": "color",
        "id": "cl_btn_hover",
        "default":"#035f6d",
        "label": "Background color 'Button verify allowed' hover"
      },
      {
        "type": "range",
        "id": "overlay",
        "label": "Background overlay",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      }
    ]
  }
{% endschema %}