{%- liquid
assign sid = section.id
assign image = section.settings.image
assign active_first = section.settings.active_first
assign se_blocks = section.blocks
assign check = false
assign check_first = true -%}

<div class="nt_se_{{sid}} nt_bg_overlay pr oh cover_norepeat faq_des{{section.settings.faq_des}}{%- if image != blank %} lazyload nt_parallax_{{section.settings.use_pr}}{%- endif -%}"{% if image != blank %} data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" data-parent-fit="cover"{% endif %}>
  <div class="{{section.settings.layout}} pr z_100">
    {%- render 'section_title' -%}
    <div class="mt__30 row al_center">
       {%- if se_blocks.size > 0 -%}

           {%- capture get_vl -%}
             {%- for block in se_blocks -%}
                {%- if block.type == 'faq' -%}
                <div class="col-12 panel entry-content sp-tab des_mb_2 des_style_2{%- if check_first and active_first %} active{%- endif -%}" id="tab_{{block.id}}" {{ block.shopify_attributes }}>
                  <div class="js_ck_view"></div><div class="heading bgbl dn"><a class="tab-heading flex al_center fl_between pr cd chp fwm" href="#tab_{{block.id}}" rel="nofollow"><span class="txt_h_tab">{{block.settings.title}}</span><span class="nav_link_icon ml__5"></span></a></div>
                  <div class="sp-tab-content">{{block.settings.content}}</div>
                </div>{%- assign check_first = false -%}
               {%- else -%}[break_col]{%- assign check = true %}{% assign check_first = true -%}
               {%- endif -%}
             {%- endfor -%}
           {%- endcapture -%}

           {%- if check -%} {%- assign arr = get_vl | split:'[break_col]' -%}
             <div class="row">
               <div class="shopify-tabs sp-tabs col-12 col-lg-6"><div class="row">{{arr[0]}}</div></div>
               <div class="shopify-tabs sp-tabs col-12 col-lg-6"><div class="row">{{arr[1]}}</div></div>
             </div>
           {%- else -%}<div class="col-12"><div class="row shopify-tabs sp-tabs">{{get_vl}}</div></div>
           {%- endif -%} 

       {%- endif -%}
    </div>
  </div>
</div>

{%- render 'section_css' -%}
{%- style -%}
.nt_se_{{sid}} .section-title,.nt_se_{{sid}} .section-subtitle { color:{{section.settings.tt_cl}}}
.nt_se_{{sid}} .title_11:after, .nt_se_{{sid}} .title_11:before, .nt_se_{{sid}} .title_12:after, .nt_se_{{sid}} .title_12:before, .nt_se_{{sid}} .title_2:after, .nt_se_{{sid}} .title_2:before,
.nt_se_{{sid}} .title_8 span:after { background-color:{{section.settings.tt_cl}}}
.nt_se_{{sid}}{background-color: {{section.settings.se_bg}} }.nt_se_{{sid}}.nt_bg_overlay:after{ background-color: {{section.settings.cl_overlay}};opacity: {{section.settings.cl_opacity | divided_by: 100.00}} }
.nt_se_{{sid}} .sp-tab .tab-heading {
    color: {{section.settings.hd_cl}};
}
.nt_se_{{sid}} .sp-tab.active .tab-heading {
    color: {{section.settings.hd_cl_atc}};
}
.nt_se_{{sid}} .heading.bgbl {
    background: {{section.settings.hd_bg}};
}
.nt_se_{{sid}} .active .heading.bgbl {
   background: {{section.settings.hd_bg_atc}};
}
.nt_se_{{sid}} .nav_link_icon {
  background: {{section.settings.btn_bg}};color: {{section.settings.btn_cl}}
}
.nt_se_{{sid}} .active .nav_link_icon {
  background: {{section.settings.btn_bg_atc}}; color: {{section.settings.btn_cl_atc}}
}
.nt_se_{{sid}} .sp-tab-content {
    background: {{section.settings.ct_bg}};color: {{section.settings.ct_cl}};
}
.nt_se_{{sid}} .sp-tab-content a {
   color: {{section.settings.ct_cl}};
}
.nt_se_{{sid}} .sp-tab-content,.nt_se_{{sid}} .des_style_2.sp-tab>.sp-tab-content {
   border-color: {{section.settings.bd_cl}};
}
{%- endstyle -%}

{%- schema -%}
  {
    "name": "FAQs",
    "class": "nt_section type_faq js_faq_ad",
    "max_blocks": 30,
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },
      {
        "type": "select",
        "id": "sub_font",
        "default": "2",
        "options": [
         {
            "value": "1",
            "label": "Body font"
         },
         {
            "value": "2",
            "label": "Sub title font"
          }
        ],
        "label": "Sub Text use font:"
      },
      {
        "type": "select",
        "id": "style_title",
        "options": [
         {
            "value": "title_1",
            "label": "Design 1"
         },
         {
            "value": "title_2",
            "label": "Design 2"
          },
         {
            "value": "title_3",
            "label": "Design 3"
          },
         {
            "value": "title_4",
            "label": "Design 4"
          },
         {
            "value": "title_5 lazyload",
            "label": "Design 5"
          },
         {
            "value": "title_6",
            "label": "Design 6"
          },
         {
            "value": "title_7 +la",
            "label": "Design 7 (with line-awesome)"
          },
         {
            "value": "title_8",
            "label": "Design 8"
          },
         {
            "value": "title_9",
            "label": "Design 9"
          },
         {
            "value": "title_10",
            "label": "Design 10"
          },
         {
            "value": "title_11",
            "label": "Design 11"
          },
         {
            "value": "title_12",
            "label": "Design 12"
          },
         {
            "value": "title_13",
            "label": "Design 13"
          }
        ],
        "label": "Design Title:"
      },
      {
        "type": "text",
        "id": "ic_tt",
        "label": "Style 7 icon line-awesome",
        "default": "gem"
      },
      {
        "type": "checkbox",
        "id": "show_clpr",
        "label": "Use icon color primary?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "[Get icons Line awesome](https://icons8.com/line-awesome)"
      },
      {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "select",
        "id": "faq_des",
        "default": "2",
        "options": [
         {
            "value": "1",
            "label": "Design 1"
         },
         {
            "value": "2",
            "label": "Design 2"
          }
        ],
        "label": "Design FAQs:"
      },
      {
        "type": "checkbox",
        "id": "active_first",
        "label": "Enable active first faq?",
        "default": true
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "checkbox",
        "id": "use_pr",
        "label": "Enable parallax scroll?",
        "default": false
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "nt_boxed",
            "label": "Boxed"
         },
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color",
        "default": "#f5f5f5"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "cl_overlay",
        "label": "Overlay",
        "default": "#000"
      },
      {
        "type": "range",
        "id": "cl_opacity",
        "label": "Overlay opacity",
        "default": 0,
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "%"
      },
      {
        "type": "color",
        "id": "section_bg_color",
        "label": "Background color",
        "default": "#f5f5f5"
      },
     {
        "type": "header",
        "content": "== Design Color"
      },
      {
        "type": "color",
        "id": "tt_cl",
        "default": "#fff",
        "label": "Section title Color"
      },
      {
        "type": "color",
        "id": "hd_bg",
        "default": "#fff",
        "label": "Heading Background"
      },
      {
        "type": "color",
        "id": "hd_cl",
        "default": "#222",
        "label": "Heading color"
      },
      {
        "type": "color",
        "id": "hd_bg_atc",
        "default": "#8e672f",
        "label": "Heading Background active"
      },
      {
        "type": "color",
        "id": "hd_cl_atc",
        "default": "#fff",
        "label": "Heading color active"
      },
      {
        "type": "color",
        "id": "btn_bg",
        "default": "#8e672f",
        "label": "Button Background"
      },
      {
        "type": "color",
        "id": "btn_cl",
        "default": "#fff",
        "label": "Button color"
      },
      {
        "type": "color",
        "id": "btn_bg_atc",
        "default": "#fff",
        "label": "Button Background active"
      },
      {
        "type": "color",
        "id": "btn_cl_atc",
        "default": "#8e672f",
        "label": "Button color active"
      },
      {
        "type": "color",
        "id": "ct_bg",
        "default": "#fff",
        "label": "Content Background"
      },
      {
        "type": "color",
        "id": "ct_cl",
        "default": "#222",
        "label": "Content color"
      },
      {
        "type": "color",
        "id": "bd_cl",
        "default": "#f5f5f5",
        "label": "Content Border Color"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "default": "100px,,100px,",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      }
    ],
    "blocks": [{
    "type": "faq",
    "name": "FAQ",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "default": "Question and answer",
      "label": "Heading"
      },
      {
      "type": "richtext",
      "id": "content",
      "default": "<p>This section doesn’t currently include any content. <b>Add content to this section using the sidebar.<\/b><\/p>",
      "label": "Text"
      }
      ]
    },
      {
      "type": "break",
      "name": "Break column",
      "limit": 1
      }],
    "presets": [
      {
        "name": "9. FAQs",
        "category": "V. Text",
        "blocks": [
          { "type": "faq" },
          { "type": "faq" },
          { "type": "faq" },
          { "type": "faq" },
          { "type": "faq" },
          { "type": "faq" }
        ]
      }
    ]
  }
{% endschema %}
