<div class="shopify-tabs sp-tabs">
{%- assign ck = section.settings.auto -%}
{%- if section.blocks.size > 0 -%}
   {%- for block in section.blocks -%}
      <div class="panel entry-content sp-tab des_mb_2 des_style_2{% if ck %} active{% assign ck = false %}{% else %} dn{% endif %}" id="tab_{{block.id}}" {{ block.shopify_attributes }}>
        <div class="js_ck_view"></div><div class="heading bgbl dn"><a class="tab-heading flex al_center fl_between pr cd chp fwm" href="#tab_{{block.id}}"><span class="txt_h_tab">{{block.settings.title}}</span><span class="nav_link_icon ml__5"></span></a></div>
        <div class="sp-tab-content">{{block.settings.content}}</div>
      </div>
   {%- endfor -%}
{%- else -%}
   <div class="tc">{%- render 'no-blocks'-%}</div>   
{%- endif -%}
</div>

{%- schema -%}
  {
    "name": "Faqs",
    "class": "nt_section type_faq js_faq_ad",
    "settings": [ 
      {
      "type": "checkbox",
      "id": "auto",
      "label": "Enable auto open?",
      "default": true
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "Faq",
        "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Question",
            "default": "Lorem ipsum dolor sit amet"
            },
            {
            "type": "richtext",
            "id": "content",
            "label": "Answer",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed eros congue, eleifend ipsum vitae, cursus massa. Vivamus imperdiet luctus lorem. </p>"
            }
         ]
      }
    ],
    "default": {
      "blocks": [
        { "type": "faq" },{ "type": "faq" },{ "type": "faq" },{ "type": "faq" }
      ]
    }
  }
{% endschema %}