{%- liquid
  assign sid = section.id
  assign se_stts = section.settings
  assign layout = se_stts.layout
  assign col = se_stts.col_pr
  assign col_tb = se_stts.col_pr_tb
  assign layout_des = se_stts.layout_des
  assign ter_des = se_stts.ter_des
  assign image = se_stts.image
  if layout == 'wrap'
   assign html_layout = '<div class="container">__</div>' | split:'__'
  else
   assign html_layout = '__' | split:'__'
  endif -%}

<div class="nt_se_{{sid}} {{layout}}{%- if image != blank %} hide_bgimg_{{se_stts.hide_bgimg}} lazyload se_t4_bg nt_parallax_{{se_stts.use_pr}}{%- endif -%}"{% if image != blank %} data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" data-parent-fit="cover"{% endif %}>
  {{-html_layout[0]-}}
  {%- render 'section_title',section_title:'mb__40' -%}
  <div class="equal_nt position_8 row{% if ter_des == '4' %} no-gutters{% endif %} quotes_wrapper quotes_des_{{ter_des}}{% if layout_des == '2' %} js_carousel nt_slider prev_next_{{se_stts.btn_color}} btn_owl_{{se_stts.btn_owl}} dot_owl_{{se_stts.dot_owl}} dot_color_{{se_stts.dot_color}} btn_vi_{{se_stts.btn_vi}}{% endif %}"{% if layout_des == '2' %} data-flickity='{"imagesLoaded": 0,"adaptiveHeight": 1, "contain": 1, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{se_stts.loop}},"prevNextButtons": {{se_stts.button}},"percentPosition": 1,"pageDots": {{se_stts.dot}}, "autoPlay" : {{ se_stts.au_time | times: 1000 }}, "pauseAutoPlayOnHover" : {{se_stts.au_hover}}, "rightToLeft": {{settings.use_rtl}} }'{% endif %}>
    {%- if section.blocks.size > 0 -%}
      {%- if ter_des == '3' or ter_des == '6' -%}
        {%- for block in section.blocks -%}<div class="quote_col col-12 col-md-{{col_tb}} col-lg-{{col}} mb__35">{%- render 'quote_3',block:block,rating:block.settings.rating -%}</div>{%- endfor -%}
      {%- elsif ter_des == '4' -%}
        {%- for block in section.blocks -%}<div class="quote_col col-12 col-md-{{col_tb}} col-lg-{{col}}">{%- render 'quote_4',block:block,rating:block.settings.rating -%}</div>{%- endfor -%}
      {%- else -%}
        {%- for block in section.blocks -%}<div class="quote_col col-12 col-md-{{col_tb}} col-lg-{{col}} mb__35">{%- render 'quote',block:block,rating:block.settings.rating -%}</div>{%- endfor -%}
      {%- endif -%}
    {%- else -%}
      {%- include 'no-blocks' -%}
    {%- endif -%}
  </div>
  {{-html_layout[1]-}}
</div>
{%- render 'section_css',classbg:false -%}
{%- schema -%}
  {
    "name": "Testimonials",
    "class": "nt_section type_testimonials type_carousel",
    "max_blocks": 30,
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Text"
      },
      {
        "type": "select",
        "id": "sub_font",
        "default": "2",
        "options": [
         {
            "value": "1",
            "label": "Body font"
         },
         {
            "value": "2",
            "label": "Sub title font"
          }
        ],
        "label": "Sub Text use font:"
      },
      {
        "type": "select",
        "id": "style_title",
        "options": [
         {
            "value": "title_1",
            "label": "Design 1"
         },
         {
            "value": "title_2",
            "label": "Design 2"
          },
         {
            "value": "title_3",
            "label": "Design 3"
          },
         {
            "value": "title_4",
            "label": "Design 4"
          },
         {
            "value": "title_5 lazyload",
            "label": "Design 5"
          },
         {
            "value": "title_6",
            "label": "Design 6"
          },
         {
            "value": "title_7 +la",
            "label": "Design 7 (with line-awesome)"
          },
         {
            "value": "title_8",
            "label": "Design 8"
          },
         {
            "value": "title_9",
            "label": "Design 9"
          },
         {
            "value": "title_10",
            "label": "Design 10"
          },
         {
            "value": "title_11",
            "label": "Design 11"
          },
         {
            "value": "title_12",
            "label": "Design 12"
          },
         {
            "value": "title_13",
            "label": "Design 13"
          }
        ],
        "label": "Design Title:"
      },
      {
        "type": "text",
        "id": "ic_tt",
        "label": "Style 7 icon line-awesome",
        "default": "gem"
      },
      {
        "type": "checkbox",
        "id": "show_clpr",
        "label": "Use icon color primary?",
        "default": false
      },
      {
        "type": "paragraph",
        "content": "[Get icons Line awesome](https://icons8.com/line-awesome)"
      },
      {
        "type": "header",
        "content": "== General Settings"
      },
      {
        "type": "select",
        "id": "layout_des",
        "options": [
          {
            "value": "1",
            "label": "Grid"
          },
          {
            "value": "2",
            "label": "Slider"
          }
        ],
        "label": "Layout design",
        "default": "1"
      },
      {
        "type": "select",
        "id": "ter_des",
        "options": [
          {
            "value": "1",
            "label": "Design 1"
          },
          {
            "value": "2",
            "label": "Design 2"
          },
          {
            "value": "3",
            "label": "Design 3"
          },
          {
            "value": "4",
            "label": "Design 4"
          },
          {
            "value": "5",
            "label": "Design 5"
          },
          {
            "value": "6",
            "label": "Design 6"
          }
        ],
        "label": "Testimonial design",
        "default": "1"
      },
      {
        "type": "select",
        "id": "col_pr",
        "label": "Testimonial columns",
        "info": "How many quotes you want to show per row",
        "default": "4",
        "options": [
          {
            "value": "12",
            "label": "1"
          },
          {
            "value": "6",
            "label": "2"
          },
          {
            "value": "4",
            "label": "3"
          },
          {
            "value": "3",
            "label": "4"
          },
          {
            "value": "15",
            "label": "5"
          },
          {
            "value": "2",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "col_pr_tb",
        "label": "Testimonial columns Tablet",
        "default": "6",
        "options": [
          {
            "value": "12",
            "label": "1"
          },
          {
            "value": "6",
            "label": "2"
          },
          {
            "value": "4",
            "label": "3"
          },
          {
            "value": "3",
            "label": "4"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Slider Settings"
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Use Loop?",
        "info": "At the end of cells, wrap-around to the other end for infinite scrolling.",
        "default": true
      },
      {
        "type": "range",
        "id": "au_time",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay Speed in second.",
        "info": "Set is '0' to disable autoplay.",
        "unit": "sec",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "au_hover",
        "label": "Pause Autoplay On Hover?",
        "info": "Auto-playing will pause when the user hovers over the carousel.",
        "default": true
      },
      {
        "type": "header",
        "content": "== Prev Next Button, Page Dot Settings"
      },
      {
        "type": "paragraph",
        "content": "—————————————————"
      },
      {
        "type": "paragraph",
        "content": "Prev Next Button:"
      },
      {
        "type": "checkbox",
        "id": "button",
        "label": "Enable Prev Next Button?",
        "info": "Creates and enables previous & next buttons.",
        "default": false
      },
      {
        "type": "select",
        "id": "btn_vi",
        "label": "Visible:",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "always"
          },
          {
            "value": "2",
            "label": "Only hover"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_owl",
        "label": "Style",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          },
          {
            "value": "3",
            "label": "Style 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_color",
        "label": "Color",
        "default": "0",
        "options": [
          {
            "value": "0",
            "label": "Transparent"
          },
          {
            "value": "1",
            "label": "Gray"
          },
          {
            "value": "2",
            "label": "White"
          },
          {
            "value": "3",
            "label": "Primary"
          }
        ]
      },
      {
        "type": "paragraph",
        "content": "—————————————————"
      },
      {
        "type": "paragraph",
        "content": "Page Dot:"
      },
      {
        "type": "checkbox",
        "id": "dot",
        "label": "Enable Page Dot?",
        "info": "Creates and enables page dots.",
        "default": true
      },
      {
        "type": "select",
        "id": "dot_owl",
        "label": "Style",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          }
        ]
      },
      {
        "type": "select",
        "id": "dot_color",
        "label": "Color",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Dark"
          },
          {
            "value": "2",
            "label": "Light"
          },
          {
            "value": "3",
            "label": "Primary"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select","id": "layout","default": "wrap","label": "Layout",
        "options": [
            { "value": "container", "label": "Container"},
            { "value": "wrap", "label": "Wrapped Container"},
            { "value": "nt_full", "label": "Full Width"}
        ]
      },
      {
        "type": "color","id": "cl_bg","label": "Background color"
      },
      {
        "type": "image_picker","id": "image","label": "Background Image"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author's image",
            "info": "200x200 recommend"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
             "type": "text",
             "id": "title",
             "label": "Author",
             "default": "Author's name"
          },
          {
             "type": "text",
             "id": "pos",
             "label": "Position"
          },
          {
            "type": "range",
            "id": "rating",
            "min": 0,
            "max": 5,
            "step": 0.5,
            "label": "Rating",
            "info": "Set less than '1' to disable Rating.",
            "default": 5
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "2. Testimonials",
        "category": "V. Text",
        "blocks": [{"type": "quote"},{"type": "quote"},{ "type": "quote"}]
      }
    ]
  }
{% endschema %}
