{%- section 'contact_heading' -%}
{%- assign page_content = page.content -%}
{%- assign formId = 'contact_form_page' -%}
{%- if settings.show_map and settings.map != blank %}<style>.se_contact_map iframe {margin-bottom: 0;padding: 0;display: block;width: 100%;border: none;}</style><div class="se_contact_map">{{settings.map}}</div>{% endif -%}
<div class="container mt__100 mb__100">
  <div class="row fl_center">
      <div class="contact-form col-12 col-md-6 mb__20">
         {%- form 'contact', id: formId -%}
           {%- render 'form-status', form: form, form_id: formId -%}
           
           <h3 class="mb__20">{{ 'contact.form.title' | t }}</h3>
           <p>
               <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
               <input required="required" type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
           </p>
           <p>
               <label for="{{ formId }}-email">{{ 'contact.form.email' | t }}</label>
               <input
                 required="required"
                 type="email"
                 id="{{ formId }}-email"
                 name="contact[email]"
                 autocorrect="off"
                 autocapitalize="off"
                 value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                 aria-required="true"
                 required="required"
                 {%- if form.errors contains 'email' -%}
                   class="input--error"
                   aria-invalid="true"
                   aria-describedby="{{ formId }}-email-error"
                 {%- endif -%}
                 >
               {%- if form.errors contains 'email' -%}
                 <span id="{{ formId}}-email-error" class="input-error-message"><i class="facl facl-attention cr mr__5"></i>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
               {%- endif -%}
            </p>

           {%- unless page_content contains 'no_phone' -%}
           <p>
           <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
           <input type="tel" id="{{ formId }}-phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
           </p>
           {%- endunless -%}
           
           <p>
           <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
           <textarea rows="20" id="{{ formId }}-message" name="contact[body]" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
           </p>
           <input type="submit" class="button w__100" value="{{ 'contact.form.submit' | t }}">

         {%- endform -%}
      </div>
    {%- if page_content.size > 0 %}<div class="contact-content col-12 col-md-6">{{ page_content }}</div>{% endif -%}
  </div>
</div>
